/* .full-width {
    width: 100%;
    height: 35px;
}

.settings-section {
    color: slategray;
    margin-bottom: 16px;
}

.settings-section:last-child {
    margin-bottom: 0;
}

.settings-section.active {
    color: black;
} */
